name: CI-CD to GKE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with: 
          install_components: gke-gcloud-auth-plugin

      - name: Configure kubectl
        run: |
          gcloud container clusters get-credentials learn-cluster \
            --zone asia-south1-a
       - name: Debug workspace
        run: |
          pwd
          ls -la
          ls -la cicd-chart || echo "cicd-chart missing"

      - name: Deploy using Helm
        run: |
          helm upgrade --install cicd-demo ./cicd-chart
